<html lang="ch">

<head>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scale=no">
  <link href="/statics/module/bbadmin/css/m-common.css" type="text/css" rel="stylesheet">
  <link href="/statics/module/bbadmin/css/main.css" type="text/css" rel="stylesheet">
  <title>用户使用协议</title>
</head>

<body>
  <header class="page-top">iOSApp《ZDPK》技术支持网址(URL)</header>
  <section class="article-con">
    <h1 class="h2">
      《ZDPK》是一款方便用户在苹果移动端手机随时随地查看了解各类赛事的平台，该平台为大家提供最新的赛事咨询，综合所有赛事，包括但不限于包括WSOP，JTPT，老虎杯，邀请赛等，同时该平台聚合了所有平台的实物参赛门票的销售。
    </h1>

    <p class="cons"></p>如果您在使用过程中有问题请留言或发邮件我。</p>

    <p class="cons"></p>邮箱地址：nashihuyu@163.com</p>

    <p class="cons"></p>谢谢!</p>

    <p class="cons"></p>If you have any questions, please leave a message or send me an email.</p>

    <p class="cons"></p>Email： nashihuyu@163.com</p>

    <p class="cons"></p>Thank you!</p>
  </section>


</body>

</html>