<% include modules/admin/view/common/header.cshtml %>
<% include modules/admin/view/common/loading_container.cshtml %>
<script src="/statics/custom/vue-page.js"></script>
<!-- Page Body -->
<div id="app" class="page-body">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption">Banner</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div style="margin:10px">
                        <button class="btn   purple" type="button" @click="add()"><i class="fa fa-plus"></i> 新增</button>
                    </div>
                    <table id="tb_item_list" class="table table-bordered table-striped">
                        <thead>
                        <tr style="font-size: 14px;">
                            <th>广告id</th>
                            <th>广告图</th>
                            <th>跳转地址</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in items">
                                <td>{{item._id}}</td>
                                <td>
                                    <img :src="item.icon" alt="" width="375px" height="160px">
                                </td>
                                <td>
                                    <a target="_blank" :href="item.url">查看</a></td>
                                <td>
                                    <p v-if="item.open==1">开放</p>
                                    <p v-else>隐藏</p>
                                </td>
                                <td>{{convertTime(item.create_time)}}</td>
                                
                                <td>
                                    <a v-if="item.open!=1" href="#" class="btn btn-primary btn-xs edit" @click="changestate(item,1)"><i class="fa fa-edit"></i> 开放</a>
                                    <a v-if="item.open==1" href="#" class="btn btn-danger btn-xs edit" @click="changestate(item,0)"><i class="fa fa-edit"></i> 隐藏</a>
                                    <a href="#" class="btn btn-danger btn-xs edit" @click="remove(item)"><i class="fa fa-trash-o"></i> 删除</a>
                                    <a href="#" class="btn btn-primary btn-xs edit" @click="modify(item)"><i class="fa fa-edit"></i> 修改</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <vue-nav :cur="cur" :all="all" :url="url" :total="total" :jump_cb="onPage"></vue-nav>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->

<!--Page Related Scripts-->
<script src="/statics/js/charts/morris/raphael-2.0.2.min.js"></script>
<script src="/statics/js/datatable/jquery.dataTables.min.js"></script>
<script src="/statics/js/datatable/ZeroClipboard.js"></script>
<script src="/statics/js/datatable/dataTables.tableTools.min.js"></script>
<script src="/statics/js/datatable/dataTables.bootstrap.min.js"></script>
<script src="/statics/js/datetime/bootstrap-datetimepicker.min.js"></script>
<link href="/statics/css/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script type="text/javascript">
var vm_item_list = new Vue({
    el: '#app',
    data: 
    {
        items:[],
        cur: 0,
        all: 0,
        total: 0,
        url:window.location.href
    },
    components:
    {
        'vue-nav': Vnav
    },
    created()
    {
        this.updateDatas(0)
    },
    methods:
    {
        add()
        {
            vm_op.init(true)
            layer.open({
                type: 1,
                title: 'Banner-新增Banner',
                shadeClose: true, //点击遮罩关闭层
                maxmin: true,
                shade: 0.5,
                area : ['700px' , '570px'],
                content: $('#id_item')
            });
        },
        modify(item)
        {
            vm_op.init(false,item)
            layer.open({
                type: 1,
                title: 'Banner-修改',
                shadeClose: true, //点击遮罩关闭层
                maxmin: true,
                shade: 0.5,
                area : ['700px' , '570px'],
                content: $('#id_item')
            });
        },
        remove(item)
        {
            let self = this
            $.ajax({
                type: "POST",
                url: "/adnews/RemoveAd",
                dataType: 'json',
                data:{
                    _id:item._id
                },
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success:function(response)
                {
                    if(response.errcode)
                    {
                        layer.msg(response.errcode.des, {icon: 5, time: 2000})
                        return
                    }
                    for(let i=0;i<self.items.length;++i)
                    {
                        if(self.items[i]._id==item._id)
                        {
                            self.items.splice(i,1)
                            break
                        }
                    }
                    layer.msg("处理成功", {icon: 1, time: 2000})
                },
                error:function(){
            
                },
            })
        },
        changestate(item,open)
        {
            let self = this
            $.ajax({
                type: "POST",
                url: "/adnews/changestatead",
                dataType: 'json',
                data:{
                    _id:item._id,
                    open:open
                },
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success:function(response)
                {
                    if(response.errcode)
                    {
                        layer.msg(response.errcode.des, {icon: 5, time: 2000})
                        return
                    }
                    item.open=open
                    layer.msg("处理成功", {icon: 1, time: 2000})
                },
                error:function(){
            
                },
            })
        },
        convertTime:function(time)
        {
            return moment(time).format('YYYY-M-D H:mm:ss')
        },
        onPage:function(page)
        {
            this.updateDatas(page-1)
        },
        updateDatas:function(page)
        {
            let self = this
            $.ajax({
                type: "POST",
                url: "/adnews/adlist",
                dataType: 'json',
                data:{
                    user_id:this.user_id||-1,
                    page:page,
                    page_num:20,
                },
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success:function(response)
                {
                    if(response.err)
                    {
                        layer.msg(response.err, {icon: 5, time: 2000})
                        return
                    }
                    self.cur=response.page
                    self.all=response.total_page
                    self.total=response.count
                    self.items=response.items||[]
                    self.items.sort((a,b)=>
                    {
                        return b.id-a.id
                    })
                },
                error:function(){
            
                },
            })
        }
    }
});
</script>
<div>
    <div id="custom">
        <div id="id_item" style="display: none;padding:50px;padding-top:20px;padding-bottom:10px">
            <table id="tb_item_list" class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Banner ID</td>
                        <td>
                            <input type="text" class="form-control" v-model="id" :disabled="true" />
                        </td>
                    </tr>
                    <tr>
                        <td>图片地址</td>
                        <td>
                            <textarea rows="4" v-model="icon" style="width: 100%;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>跳转链接</td>
                        <td>
                            <textarea rows="4" v-model="url" style="width: 100%;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>开启</td>
                        <td>
                            <div class="control-group">
                                <div class="col-lg-5 col-sm-5 col-xs-5">
                                    <div class="radio">
                                        <label>
                                            <input name="type-open" type="radio" class="colored-blue" value="1" v-model="open"/>
                                            <span class="text">开启</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-5 col-xs-5">
                                    <div class="radio">
                                        <label>
                                            <input name="type-open" type="radio" class="colored-danger" value="0" v-model="open"/>
                                            <span class="text">关闭</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align:center;padding-top:10px">
                <button v-if="is_add" class="btn shiny btn-primary " type="button" @click="add">新增Banner配置</button>
                <button v-if="!is_add" class="btn shiny btn-primary " type="button" @click="update">修改Banner配置</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var vm_op = new Vue({
            el: '#custom',
            data: 
            {
                is_add:false,
                id:"",
                icon:"",
                url:"",
                open:0
            },
            methods: 
            {
                init:function(is_add,item)
                {
                    if(!item)
                    {
                        item={}
                    }
                    this.is_add=is_add
                    this.id=item._id||""
                    this.icon=item.icon||""
                    this.url=item.url||""
                    this.open=item.open||0
                },
                add:function()
                {
                    let item=
                    {
                        item:{
                            icon:this.icon,
                            url:this.url,
                            open:this.open
                        }
                    }
                    let self = this
                    $.ajax({
                        type: "POST",
                        url: "/adnews/addad",
                        dataType: 'json',
                        data:item,
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success:function(response)
                        {
                            if(response.errcode)
                            {
                                layer.msg(response.errcode.des, {icon: 5, time: 2000})
                            }
                            else
                            {
                                vm_item_list.items.unshift(response.item)
                                layer.closeAll()
                                layer.msg("服务器添加成功", {icon: 1, time: 2000})
                            }
                        },
                        error:function(err){
                            layer.msg("请求错误", {icon: 5, time: 2000})
                        },
                    })
                },
                update:function()
                {
                    let item=
                    {
                        item:{
                            _id:this.id,
                            icon:this.icon,
                            url:this.url,
                            open:this.open
                        }
                    }
                    let self = this
                    $.ajax({
                        type: "POST",
                        url: "/adnews/updatead",
                        dataType: 'json',
                        data:item,
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success:function(response)
                        {
                            if(response.errcode)
                            {
                                layer.msg(response.errcode.des, {icon: 5, time: 2000})
                            }
                            else
                            {
                                for(let i=0;i<vm_item_list.items.length;++i)
                                {
                                    let r = vm_item_list.items[i]
                                    if(r._id==response.item._id)
                                    {
                                        vm_item_list.items[i]=response.item
                                        break
                                    }
                                }
                                layer.closeAll()
                                vm_item_list.items.sort((a,b)=>
                                {
                                    return b.id-a.id
                                })
                                layer.msg("服务器更新成功", {icon: 1, time: 2000})
                            }
                        },
                        error:function(err){
                            layer.msg("请求错误", {icon: 5, time: 2000})
                        },
                    })
                }
            }
        });
    </script>
</div>
<% include modules/admin/view/common/footer.cshtml %>
