<% include modules/admin/view/common/header.cshtml %>
<% include modules/admin/view/common/loading_container.cshtml %>
<script src="/statics/custom/vue-page.js"></script>
<!-- Page Body -->
<div id="app" class="page-body">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption">条件筛选</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <table id="tb_cr_list" class="table table-striped">
                        <tbody>
                            <tr>
                                <td style="text-align: right;">用户id</td>
                                <td>
                                    <input type="number" class="form-control" id="user_id" placeholder="" style="width: 180px" v-model="user_id">
                                </td>
                                <td style="text-align: right;">房间id</td>
                                <td>
                                    <input type="number" class="form-control" id="room_id" placeholder="" v-model="room_id" style="width: 180px" v-model="room_id"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">开始时间</td>
                                <td>
                                    <div class="input-group" id="start_time" style="width: 180px">
                                        <input class="form-control date-picker" id="id_start_time" type="text" v-model="start_time">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </td>
                                <td style="text-align: right;">
                                    截止时间
                                </td>
                                <td>
                                    <div class="input-group col-sm-3" id="end_time" style="width: 180px">
                                        <input class="form-control date-picker" id="id_end_time"  type="text" v-model="end_time">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </td>
                                <td style="text-align: right;"></td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right" colspan="5">
                                </td>
                                <td>
                                        <a href="#" style="padding: 7px 12px;background-color: #00a7d0;border-radius:3px;text-align:center;color: #fff;display: inline-block;cursor:pointer;position: relative;top: 1px;" @click="onRest()">重  置</a>
                                    <button class="btn shiny btn-primary " type="button" @click="onPage(cur)">搜  索</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption">用户</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <table id="tb_cr_list" class="table table-bordered table-striped">
                        <thead>
                        <tr style="font-size: 14px;">
                            <th>用户id</th>
                            <th>用户名</th>
                            <th>变化前余额</th>
                            <th>金币变化</th>
                            <th>变化之后余额</th>
                            <th>原因</th>
                            <th>创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="cr in coin_records">
                                <td>
                                    <a href="#" @click="updateUser(cr.user_id)">{{cr.user_id}}</a>
                                </td>
                                <td><a href="#" @click="updateUser(cr.user_id)">{{cr.user.nickname}}</a></td>
                                <td>{{cr.pre_coin}}</td>
                                <td>{{cr.coin}}</td>
                                <td>{{cr.aft_coin}}</td>
                                <td>
                                    <p v-if="cr.type==0">测试</p>
                                    <p v-if="cr.type==1">初始</p>
                                    <p v-if="cr.type==2">签到</p>
                                    <p v-if="cr.type==3">报名</p>
                                    <p v-if="cr.type==4">充值</p>
                                    <p v-if="cr.type==5">兑换</p>
                                    <p v-if="cr.type==6">奖励</p>
                                </td>
                                <td>{{convertTime(cr.create_time)}}</td>
                            </tr>
                        </tbody>

                    </table>

                    <div class="row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7">
                            <vue-nav :cur="cur" :all="all" :url="url" :total="total" :jump_cb="onPage"></vue-nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->

<!--Page Related Scripts-->
<script src="/statics/js/charts/morris/raphael-2.0.2.min.js"></script>
<script src="/statics/js/datatable/jquery.dataTables.min.js"></script>
<script src="/statics/js/datatable/ZeroClipboard.js"></script>
<script src="/statics/js/datatable/dataTables.tableTools.min.js"></script>
<script src="/statics/js/datatable/dataTables.bootstrap.min.js"></script>
<script src="/statics/js/datetime/bootstrap-datetimepicker.min.js"></script>
<link href="/statics/css/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script type="text/javascript">
    $(function(){
        $('#id_start_time').datetimepicker({
            minDate:"1000-1-1",
            dayViewHeaderFormat:"YYYY年 MMMM",
            locale : 'zh-cn',
            zIndex:20190813
        });
        $('#id_end_time').datetimepicker({
            minDate:"1000-1-1",
            dayViewHeaderFormat:"YYYY年 MMMM",
            locale : 'zh-cn',
            zIndex:20190813
        });
    })
    var vm = new Vue({
        el: '#app',
        data: 
        {
            room_id:null,
            user_id:null,
            start_time:null,
            end_time:null,
            coin_records:[],
            cur: 0,
            all: 0,
            total: 0,
            url:window.location.href
        },
        components:
        {
            'vue-nav': Vnav
        },
        created()
        {
            this.updateDates(0)
        },
        methods: 
        {
            convertTime:function(time)
            {
                return moment(time).format('YYYY-M-D H:mm:ss')
            },
            updateUser:function(user_id)
            {
                this.user_id=user_id
                this.onPage(this.cur)
            },
            onRest:function()
            {
                this.user_id=null
                this.start_time=null
                this.end_time=null
                this.onPage(1)
            },
            onPage:function(page)
            {
                this.updateDates(page-1)
            },
            updateDates:function(page)
            {
                let str_start_time =$('#id_start_time').val()
                let start_time = new Date(str_start_time).getTime()||null
                let str_end_time =$('#id_end_time').val()
                let end_time = new Date(str_end_time).getTime()||null

                let self = this
                $.ajax({
                    type: "POST",
                    url: "/order/getcoinrecords",
                    dataType: 'json',
                    data:{
                        page:page,
                        page_num:20,
                        room_id:self.room_id,
                        user_id:self.user_id,
                        game_name:self.game_name,
                        start_time:start_time,
                        end_time:end_time
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success:function(response)
                    {
                        self.cur=response.page
                        self.all=response.total_page
                        self.total=response.total_num
                        self.coin_records=response.coin_records||[]
                    },
                    error:function(){
                
                    },
                })
            }
        }
    });
</script>
    <% include modules/admin/view/common/footer.cshtml %>
